@model IUT_TPNote_2025.Models.Impression

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Impression</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Demandeur" class="control-label"></label>
                <input asp-for="Demandeur" class="form-control" />
                <span asp-validation-for="Demandeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomDocument" class="control-label"></label>
                <input asp-for="NomDocument" class="form-control" />
                <span asp-validation-for="NomDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbPages" class="control-label"></label>
                <input asp-for="NbPages" class="form-control" />
                <span asp-validation-for="NbPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
